# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database
db.sqlite3

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
media/
staticfiles/
.env

# VSCode / IDE files
.vscode/
.idea/
*.swp
